<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
  <title>Todo List</title>
</head>
  <body>
      <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item" required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% todos.forEach(data => { %>
                <li><%= data.item %></li>
           <% }); %>
        </ul>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>  
 </body>
</html>